body, button {
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
button {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 10px;
  color: #2b3944;
  background-color: #ede2b5;
  border: 2px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: inset 2px 2px 2px #fff; /* gives a subtle top edge highlight */
  transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #d5d5d5;
}
  
button:active {
    background-color: #ccc;
    transform: translateY(1px); /* simulates a press */
}
#increment {
    margin: 0 auto;
    font-size: 1em;
    padding: 5px;
    margin: 5px;
}
#display {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
}
#temple, #month {
    max-width: 600px;
    width: 95%;
    display: block;
    margin: 0 auto;
}


@media only screen and (min-width: 600px) {
    #temple, #month, #display {
        width: 60%;
    }
    #increment {
        font-size: 1.3em;
        width: 40%
    }
    button {
        width: 60%;
    }
}